module.exports = {
  apps : [{
    name        : "{{app_name}}",
    script      : "./server.js",
    "instances" : {{node_processes}},
    "exec_mode" : "cluster",
    "max_memory_restart" : "{{pm2_max_memory_restart}}",
    watch       : false,
    "error_file"      : "{{app_directory}}/logs/pm2.log",
    "out_file"        : "{{app_directory}}/logs/pm2.log",
    "log_date_format" : "YYYY-MM-DD HH:mm Z",
    wait_ready: true,
    "kill_timeout" : 3000,
    instance_var: 'INSTANCE_ID',
    env: {
        "NODE_ENV": "{{ node_env }}",
        "PM2_NODE_PORT": {{ node_port }},
        "PM2_NODE_HOST": "{{ node_addresses }}",
        "PM2_NODE_BASE_TOKEN": "{{ node_base_token }}",
        "PM2_NODE_AWS_ACCESS_KEY": "{{ aws_access_key_id }}",
        "PM2_NODE_AWS_SECRET_KEY": "{{ aws_secret_access_key }}",
        "PM2_NODE_AWS_S3_BUCKET": "{{ aws_storage_bucket_name }}",
        "PM2_NODEMAILER_USER": "{{ nodemailer_user }}",
        "PM2_NODEMAILER_PASS": "{{ nodemailer_password }}",
        "PM2_NODEMAILER_PREFIX": "{{ nodemailer_subject_prefix }}",
        "PM2_NODEMAILER_PORT": "{{ nodemailer_port }}",
        "PM2_NODEMAILER_HOST": "{{ nodemailer_host }}",
        "PM2_NODEMAILER_SECURE": {{ nodemailer_secure }},
        "PM2_NODEMAILER_MAILTO": "{{ nodemailer_mailto }}",
        "PM2_MONGODB_USER":"{{ mongodb_app_user }}",
        "PM2_MONGODB_PASS":"{{ mongodb_app_password }}",
        "PM2_MONGODB_HOST":"{{ mongodb_host }}",
        "PM2_MONGODB_PORT":"{{ mongodb_port }}",
        "PM2_MONGODB_DATABASE": "{{ mongodb_database }}",
        "PM2_STRIPE_SECRET": "{{ stripe_secret }}",
        "PM2_STRIPE_PUBLIC": "{{ stripe_public }}",
        "PM2_FACEBOOK_APPID": "{{ facebook_app_id }}",
        "PM2_FACEBOOK_SECRET": "{{ facebook_secret }}",
        "PM2_FIREBASE_API_KEY": "{{ firebase_apiKey }}",
        "PM2_FIREBASE_AUTH_DOMAIN": "{{ firebase_authDomain }}",
        "PM2_FIREBASE_DATABASE_URL": "{{ firebase_databaseURL }}",
        "PM2_FIREBASE_PROJECT_ID": "{{ firebase_projectId }}",
        "PM2_FIREBASE_STORAGE_BUCKET": "{{ firebase_storageBucket }}",
        "PM2_FIREBASE_MESSAGING_SENDER_ID": "{{ firebase_messagingSenderId }}",
        "PM2_PUSH_APN_KEY_ID": "{{ push_apn_key_id }}",
        "PM2_PUSH_ISPRODUCTION": "{{ push_is_production }}"

    },
  }]
}